<ion-view>
<div class="about-bar-header">
  <h3 class="label-header-color">About Marilao</h3>
</div>
	<ion-content class="about-card-main">

		
			<img src = "img/history.jpg" id = "aboutmage" height="150">
			<br>
      <center><h1 id="about-marilao">MARILAO</h1></center>
      <center>
      <div class="about-list-style">
        <center>
        <br>
        <h4 ng-click="openModal()">History</h4>
        <hr id="about-border">
        <h4>Tourist Attractions</h4>
        <hr id="about-border">
        <h4 ng-click="publicOfficialsModal()">Public Officials</h4>
      </center>
      </div>
    </center>





	</ion-content>
</ion-view>