<ion-view>
<div class="about-bar-header2">
  <div class="hotline-header-content">
  <h3>Hotline</h3>
</div>
  <div class="emergency-hotline">
   <center> <h4 class="e-hotline-label">Emergency Hotline</h4></center>
  <center>  <h1 class="e-hotline">   <i class="icon ion-ios-telephone tel-icons-hotline"></i> <a id="hotline-num" href="tel:892.2931">  892.2931</a></h1></center>
</div>
</div>

</div>

  <ion-content class = "about-card-contact">

  <div class="contact-list">

 
<div class="list">



<div class = "item item-divider"  id = "douche2" >


    <h2 id = "contxt1">Local Number of Municipal Offices</h2>



</div>


<div class = "item" id = "douche" >

     <ion-item >


          <div class="item" id = "contlet">
     
            <div class="contact-name" id = "connum"><b>Office of the Mayor</b></div>
      
             <a href="tel:{{con.ContactNo}}" class="hotline-button">
              <center>
               <i class="icon ion-ios-telephone tel-icons"></i>
             </center>
              </a>
  
          </div>




        </ion-item>

         <ion-item >


          <div class="item" id = "contlet">
         
            <span class="contact-name" id = "connum"><b>Office of the Mayor</b></span>

             <a href="tel:{{con.ContactNo}}" class="hotline-button">
              <center>
                <i class="icon ion-ios-telephone tel-icons"></i>
              </center>
              </a>

          </div>




        </ion-item>


</div>


</div>


 </div>





  </ion-content>
</ion-view>

<!--

  <ion-view>

  <ion-content class = "about-card-main">

  <div class="contact-list" ng-controller="ContactCtrl">

 
<div class="list card" id = "hotbg">



<div class = "item item-divider"  id = "douche2" >


   <center>

    <h2 id = "contxt1"><i class="ion-android-call" id = "concon"></i>&nbspContact Information</h2>

  </center>


</div>


<div class = "item item-text-wrap" id = "douche" >

    <ion-item ng-repeat="con in contact">


          <div class="item item-button-right" id = "contlet">
            <span class="contact-name" id = "connum"><b>{{con.Name}}</b></span> <br>
            {{con.ContactNo}}

             <a href="tel:{{con.ContactNo}}" class="button button-positive">
               <i class="icon ion-ios-telephone"></i>
              </a>
             
          </div>




        </ion-item>

</div>


</div>


 </div>





  </ion-content>
</ion-view>

-->