<ion-view>

  <ion-content class="credit-background">
<center>
<div class="list">
 <center>
          <img src="img/pdm.png" width="120" height="120">
           <h4><b>Pambayang Dalubhasaan ng Marilao</b></h4>
             <h5><b>College of Computer Studies</b></h5>
             <h5><b>Information of Technology Department</b></h5>
             <h5><b>Capstone Project 2016</b></h5>
             <br>
              <h4 class="title-news">Dennis M. San Jose</h4>
                  <p>Programmer</p>
              <h4 class="title-news">Joules Z. Llarenas</h4>
                  <p>Head Researcher</p>
                <h4 class="title-news">Jayson I. Gregorio</h4>
                  <p>System Analyst</p>
               <h4 class="title-news">Merwin G. Perez</h4>
                  <p>System Analyst</p>
              <h4 class="title-news">Bryan Jay DC. Osal</h4>
               <p>Designer</p>
              <h4 class="title-news">Ms. Clementine M. Reyes, MIT(c)</h4>
                <p>Capstone Project Adviser</p>
              <h4 class="title-news">Jovylyn O. Cesar, MSIT,MBA</h4>
                <p>Panel Chairman</p>
             <h4 class="title-news">Reginald S. Nicolas</h4>
               <p>IT Practitioner</p>
            <h4 class="title-news">Rhyan D. Delos Reyes</h4>
              <p>External Panel</p>
            <h4 class="title-news">Emraida Marie M. Manucom, MIT</h4>
              <p>Dean</p>

  </center>
</div>
    
     

</center>     
</ion-content>
</ion-view>