<ion-view>
	<ion-content class="full-job-list">

	<!--
	<div class="t-header">
		<img src='{{eventsInfo.Image}}' width="100%" height="150">
		
	</div> -->

		<div  class="list">
 			 <div class="item item-text-wrap">
 			<div class="job-container">
 				<div class="row">
  					<div class="col event-font"><b>{{eventsInfo.EventTitle}}</b></div>
  					<br>

				</div>
					<div class="row">

  					<div class="col jobstitle event-font"><b>Description:</b> {{eventsInfo.Description}}<br>
  					</div>
				</div>
					<div class="row">
  					<div class="col jobstitle event-font"><b>Date of Events:</b> {{eventsInfo.EventDate}}<br>
  					<p align="justify"></p></div>
				</div>
				<div class="row">
  					<div class="col jobstitle event-font"><b>Venue:</b> {{eventsInfo.Place}}<br>
  					<p align="justify"></p></div>
				</div>
					<div class="row">
  					<div class="col jobstitle event-font"><b>Contact No:</b> {{eventsInfo.ContactNo}}<br>
  					<p align="justify"></p></div>
  				
				</div>
		</div>

		</div>
	</div>

	</ion-content>
</ion-view>