<ion-view view-title="Fiesta">
	<ion-content class="fiesta-container" zooming="true" direction="xy">


 <!-- <p ng-bind-html="newslist.description" class="description"></p> -->

 <div class="list card" id = "fed" ng-repeat="fiesta in fiesta" repeat-loading>




  <div class="item" id = "headbkg">

    <h2 id = "eventit">{{fiesta.Location}}</h2>
      <h2 id = "eventit">{{fiesta.Date}}</h2>
    <p id = "eventdat">{{fiesta.Description}}</p>

  </div>


  <div class="item item-body" >
  <center>
    <img src="{{fiesta.Image}}" width="100%" height="250" id = "magecon" >
    </center>
  </div>




</div>



</ion-content>
</ion-view>