<ion-view>
	<ion-content class="jobsconbg" zooming="true" direction="xy">



		<div class="list card " id = "hotbg">


 			 <div class="item item-text-wrap">
 			<div class="job-container">

 		
 				<div class="row" id = "douche2">
  					<div class="col jobstitle"><b>{{jobsInfo.Company}}</b></div>
				</div>

				<br>
					<div class="row">
  					<div class="col jobstitle event-font"><b>Position:</b>
  					{{jobsInfo.Position}}<br></div>
				</div>
					<div class="row">
  					<div class="col jobstitle event-font"><b>Qualification</b>{{jobsInfo.Qualifications}}<br></div>
  				
				</div>
					<div class="row">
  					<div class="col jobstitle event-font"><b>Location</b>
  					{{jobsInfo.PlaceOfInterview}}<br></div>
  				
				</div>
					<div class="row">
  					<div class="col jobstitle event-font"><b>Date of Interview</b>
  					{{jobsInfo.DateOfInterview}}<br></div>
  				
				</div>
		



		</div>

	</div>
	</div>

	</ion-content>
</ion-view>