<ion-view>
<div class="about-bar-header newsletter-border">
  <h3 class="label-header-color">NEWSLETTER</h3>
</div>
  <ion-content class="about-card-main">

    
  <div class="row">
    <div class="col col-50 newsletter-height">
      <img src="img/cover.jpg" width="100%" height="230">

    </div>

       <div class="col col-50 newsletter-height">
 <img src="img/cover.jpg" width="100%" height="230">
 
    </div>
</div>


    
  <div class="row">
    <div class="col col-50 newsletter-height">
 <img src="img/cover.jpg" width="100%" height="230">

    </div>

       <div class="col col-50 newsletter-height">
 <img src="img/cover.jpg" width="100%" height="230">

    </div>
</div>

  </ion-content>
</ion-view>