<ion-view>
<div class="about-bar-header newsletter-border">
  <h3 class="label-header-color">NEWSLETTER</h3>
</div>
  <ion-content class="about-card-main">

    
  <div class="row">
    <div class="col col-50 newsletter-height">
    	<a href="#" onclick="window.open('http://download720.mediafire.com/rs9pa4qz58pg/b9k40x77w8eafmv/MARILENEWS+JULY-SEPTEMBER+2015.pdf')" target="_blank" class="newsletter-link">
        <div class="newsletter-border-image">
        <img src="111.png" width="100%" height="175">
         <center> <h5 class="newsletter-label-header-color">JULY-SEPTEMBER 2015</h5><center>
        </div>
     
    </div>

       <div class="col col-50 newsletter-height">
      <a href="#" onclick="window.open('http://download720.mediafire.com/rs9pa4qz58pg/b9k40x77w8eafmv/MARILENEWS+JULY-SEPTEMBER+2015.pdf')" target="_blank" target="_blank" class="newsletter-link">
        <div class="newsletter-border-image">
        <img src="2222.png" width="100%" height="175">
         <center> <h5 class="newsletter-label-header-color">ULAT SA BAYAN 2015</h5><center>
        </div>
     
    </div>
</div>

  </ion-content>
</ion-view>