<ion-view>
    
<!--    
  CITATION
   <div class="tabs legend-div">
  <div class="tab-item bar-dark">
    L - Light
  </div>
  <div class="tab-item bar-dark">
   M - Moderate
  </div>
  <div class="tab-item bar-dark">
   H - Heavy
  </div>
</div>
-->


    <ion-content class="weatherbackground">
 <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 600px">

   <div class="weather-pane"> 

    <div class="card">
  <div class="item item-divider">
   <h1>{{weather.location}}</h1>
   <h4>Last Update: {{weather.last_update}}</h4>
  </div>
  <div class="item item-text-wrap">
      <div class="weather-container" ng-repeat="data in weather.data">
        <div class="weather-date">
            <h2><b>{{data.date}}</b></h2>
        </div>
        
                  <div class="card weather-reader" ng-repeat="reader in data.readings">

    <a class="item item-thumbnail-left">
       <img src='{{reader.icon}}' width="50" height="50">
      
                  <p><b>Time:{{reader.time}}</b></p>
                  <p>Rainfall: {{reader.rainfall}} mm</p>
                  <p>Real Feel: {{reader.real_feel}} &deg;C</p>
                  <p>Temperature: {{reader.temp}} &deg;C</p>
                  <p>Wind Speed: {{reader.windspeed}} m/s</p>
    </a>



</div>
        
        </div>
  </div>
  
</div>

   
</div>
</ion-scroll>
    </ion-content>
</ion-view>
